<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="BIKI Tools"
           Id="*"
           UpgradeCode="78de0749-7fd3-4669-b4e7-e91a7f8d4e84"
           Language="1033"
           Codepage="1252"
           Version="1.0.0.0"
           Manufacturer="Terra">

    <Package Id="*"
             Keywords="Arma,Wiki,Mediawiki,Bohemia"
             Description="Tool to bring sqf code to the Bohemia Interactive Community Wiki."
             Comments="A commnutiy made utility"
             Manufacturer="Terra"
             InstallerVersion="100"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252" />

    <Media Id="1"
           Cabinet="Sample.cab"
           EmbedCab="yes"/>
    
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder"
                 Name="PFiles">
        <Directory Id="INSTALLDIR"
                   Name="BIKI Tools"/>
      <!-- Generate files with (done in the prebuild event):
           heat dir ..\BikiTools.WPF\bin\Release\net5.0-windows -var var.BikiTools.WPF.TargetDir -cg BikiToolsCG -gg -sreg -srd -dr INSTALLDIR -o BikiToolsFragments.wxs -->
      </Directory>
    </Directory>
    
    <Feature Id="Complete"
             Title="The complete package."
             Display="expand"
             Level="1"
             ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="BikiToolsCG" />
    </Feature>
    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR"
              Value="ProgramFilesFolder" />
    <WixVariable Id="WixUILicenseRtf"
                 Value="LICENSE.rtf"/>
  </Product>
</Wix>
